.modal-dialog
  .modal-content
    .modal-body
      p.alert.alert-success The execution has been launched with success on VIP.

      p You can check on the 'Vip History' page to be informed when it is over and to consult the results in the folder you selected. You will now be redirected to this page.

    .modal-footer
      a#g-confirm-button.btn.btn-small.btn-success(data-dismiss="modal") OK
