.modal-body.vip-file-selector
  p.alert.alert-info
    | This item has several files, please select one
  .file-list.form-group
  .vip-selected-file.form-group
    label.control-label(for='vip-selected-file') Selected file
    input#vip-selected-file.form-control(type='text', readonly, value=defaultSelectedFile)

  .g-validation-failed-message.hidden Please select an item
