li(role="presentation")
    a.launch-pipeline(href=`#my-executions`)
      i.icon-rocket
      | Launch a VIP Execution
    a.my-pipelines(href=`#my-executions`)
      i.icon-rocket
      | VIP executions
