.creatis-launch-vip-pipeline-header
  .g-body-title Launch a VIP Pipeline
  .g-body-subtitle PIPELINE NAME TO PUT

button.btn.btn-sm.btn-primary.select-girder-file Choose File
button.btn.btn-sm.btn-primary.reset-girder-file Reset File

if selectedItem
  p= selectedItem.get('name') + ' / ' + selectedFile.get('name')
