.creatis-launch-vip-pipeline-header
  .g-body-title Launch a VIP Pipeline
  .g-body-subtitle PIPELINE NAME TO PUT

button.btn.btn-sm.btn-primary.select-girder-file Choose File
button.btn.btn-sm.btn-primary.reset-girder-file Reset File

if selectedItem
  p= selectedItem.get('name') + ' / ' + selectedFile.get('name')




form.vip-launch-pipeline-form(role="form")
  .vip-launch-form-container.g-settings-form-container
    h4 General parameters
    .form-group
      label(for="vip-launch-execution-name") Name of execution
      input#vip-launch-execution-name.form-control.input-sm(type="text")
      small.help-block Useful to monitor the execution later
    .form-group
      label(for="vip-launch-result-dir") Result folder
      .input-group
        .input-group-btn
          button#vip-launch-result-dir-btn.btn.btn-sm.btn-primary(type="button") Select folder
        input#vip-launch-result-dir.form-control.input-sm(type="text", readonly)
      small.help-block Girder folder where the results will be saved

  .vip-launch-form-container.g-settings-form-container
    h4 File parameters
   .form-group
     label Test
     input.form-control.input-sm(type="text", placeholder='Test test')

  #vip-launch-pipeline-advanced-accordion.panel-group
    .panel.panel-default
      .panel-heading(data-toggle="collapse",
          data-parent="#vip-launch-pipeline-advanced-accordion",
          data-target="#vip-launch-pipeline-advanced-tab")
        .panel-title
          a
            b Optional parameters
      #vip-launch-pipeline-advanced-tab.panel-collapse.collapse
        .panel-body
          .form-group
            label Test
            input.form-control.input-sm(type="text", placeholder='Test test')
