.btn
  margin-left 3px

.removed-execution
  -webkit-animation removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29)
  -o-animation removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29)
  animation removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29)

@keyframes removed-item-animation
  0%
    opacity 1
    -webkit-transform translateX(0)
    -ms-transform translateX(0)
    -o-transform translateX(0)
    transform translateX(0)

  30%
    opacity 1
    -webkit-transform translateX(-50px)
    -ms-transform translateX(-50px)
    -o-transform translateX(-50px)
    transform translateX(-50px)

  80%
    opacity 1
    -webkit-transform translateX(800px)
    -ms-transform translateX(800px)
    -o-transform translateX(800px)
    transform translateX(800px)

  100%
    opacity 0
    -webkit-transform translateX(800px)
    -ms-transform translateX(800px)
    -o-transform translateX(800px)
    transform translateX(800px)

@-webkit-keyframes removed-item-animation
  0%
    opacity 1
    -webkit-transform translateX(0)
    transform translateX(0)

  30%
    opacity 1
    -webkit-transform translateX(-50px)
    transform translateX(-50px)

  80%
    opacity 1
    -webkit-transform translateX(800px)
    transform translateX(800px)

  100%
    opacity 0
    -webkit-transform translateX(800px)
    transform translateX(800px)

@-o-keyframes removed-item-animation
  0%
    opacity 1
    -o-transform translateX(0)
    transform translateX(0)

  30%
    opacity 1
    -o-transform translateX(-50px)
    transform translateX(-50px)

  80%
    opacity 1
    -o-transform translateX(800px)
    transform translateX(800px)

  100%
    opacity 0
    -o-transform translateX(800px)
    transform translateX(800px)
