.g-frontpage-body
  .g-frontpage-paragraph
    .g-frontpage-welcome-text-content
      b.g-frontpage-welcome-text How to use Creatis's applications ?

    ul
      if !user
        li Create a new Creatis account

      li
        | Create a
        a.creatis-vip-link(href='https://vip.creatis.insa-lyon.fr/', target='_blank')  VIP account

      li Get your api key in VIP > My Account > API key

      Current version 2.0.1 (SNAPSHOT)
