link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css")

li.g-global-nav-li
  a.g-nav-li(id="nav-help", href="#help")
    i(class="icon-info")
    span Help

#help
  .close-animatedModal
    p Close
  .modal-content
    p test
